# Binaries
bin/
test-bin*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
*.html
coverage.*
*.coverprofile
profile.cov

# Key and credentials files
*.pem
*.crt
*.json
!go.mod
!go.sum

# Go workspace file
go.work
go.work.sum

# env file
.env

# System files
.DS_Store
